<p id="notice"><%= notice %></p>

<p>
  <strong>Qnumber:</strong>
  <%= @question_answer.qnumber %>
</p>

<p>
  <strong>Qanswer:</strong>
  <%= @question_answer.qanswer %>
</p>

<!-- <p>
  Total number of questions scored 2 or 3 in questions 1–9:____________________________
  Total number of questions scored 2 or 3 in questions 10–18:__________________________
  Total Symptom Score for questions 1–18: _____________________________________________
  Total number of questions scored 2 or 3 in questions 19–26:__________________________
  Total number of questions scored 2 or 3 in questions 27–40:__________________________
  Total number of questions scored 2 or 3 in questions 41–47:__________________________
  Total number of questions scored 4 or 5 in questions 48–55: _________________________
  Average Performance Score: __________________________________________________________
</p> -->

<%= link_to 'Edit', edit_question_answer_path(@question_answer) %> |
<%= link_to 'Back', question_answers_path %>

if i >= 48 && i <= 55
  if question_response == '4' || question_response == '5'
    @num_questions_2_3_48_55 += 1
  end
end
